.#*
.DS_Store
*.fdb_latexmk
*.log
*.fls
*.ilg
*.ind
*.idx
test/standalone/main.synctex.gz
*.safe
*.so
**/*.aux
!osglecture/testfiles/support/reference-source.osgref.aux
**/*.toc
**/*.synctex.gz
**/*.code
**/*-cnltx*
**/build/*
**/.osglecture/state/*
examples/**/*.tagpax
examples/**/*-osglecture-integration.registry
/doc/*.pdf
/doc/ollm/
/legacy
